.form {
    width: 35rem;
    padding: 1.5rem;
    
}
.auth {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container{
    max-width: 400px;
    margin: 0 auto;
    padding: 18px;
}
.form h2 {
    color: black;
    font-size: 1.2rem;
    text-align: center;
}
.form input {
    display: block;
    font-size: 1rem;
    font-weight: 300;
    padding: 0.5rem;
    margin: 0.5rem auto;
    width: 100%;
    border: 1px solid #777;
    border-radius: 3px;
    outline: none;
}
.active{
    text-decoration: none;
    color: white;
    background: brown;
    display: flex;
    border: solid black 0.1px;
    font-weight: 600;
    margin-top: 10px;
    font-size: 16px;
    justify-content: center;
    
}
.link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.Btn{
    text-decoration: none;
    text-decoration-line: none;
    color: white;
    display: flex;
    background: brown;
    display: flex;
    font-weight: 600;
    margin-top: 10px;
    font-size: 16px;
    justify-content: center;
}

.select{
    margin-bottom: 20px;
    max-width: 400px;
    margin: 0 auto;
    padding: 18px;
}
.select .option{
    padding: 10px;
    border-radius: 4px;
}
.select h1{
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.login{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    padding: 20px;
}